asgiref==3.8.1
certifi==2025.4.26
charset-normalizer==3.4.2
Django==5.2.1
idna==3.10
joblib==1.5.0
numpy==2.2.5
pandas==2.2.3
pillow==11.2.1
PubChemPy==1.0.4
python-dateutil==2.9.0.post0
pytz==2025.2
rdkit==2025.3.1
requests==2.32.3
scikit-learn==1.6.1
scipy==1.15.3
six==1.17.0
sqlparse==0.5.3
threadpoolctl==3.6.0
tzdata==2025.2
urllib3==2.4.0
xgboost==3.0.0
cirpy==1.0.2
